@using Microsoft.AspNetCore.Identity


<ul class="navbar-nav">
        <li class="custom-li">
            <a class="nav-link js-scroll btn btn-light p-2 ml-3 btn-custom-nav" id="login" asp-area="Identity"
               asp-page="/Account/Login">Entrar</a>
        </li>
</ul>