@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<script>
    // window.location.href = "https://localhost:44301/Identity/Account/Login";
    window.location.href = "https://tattoobh.azurewebsites.net";
</script>