@page
@model LoginModel

@{
    ViewData["Title"] = "Logar";
    Layout = "/Views/Shared/_LayoutLimpo.cshtml";
}

<link href="~/assets/css/login.css" rel="stylesheet">

<style>

</style>

<div class="d-flex justify-content-center p-3 fixed">

    <div class="fotos-custom">
        <div class="CK_MDEm">
            <div class="_1MCzTkC">
                <div class="lyteZFl">
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/20.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/3.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/6.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/43.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/29.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/70.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/20.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/3.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/6.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/43.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/29.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/70.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                </div>
                <div class="lyteZFl">
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/4.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/64.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/49.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/60.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/51.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/37.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/4.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/64.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/49.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/60.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/51.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/37.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                </div>
                <div class="lyteZFl">
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/17.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/23.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/68.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/31.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/48.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/1.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/17.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/23.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/68.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/31.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/48.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/1.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cadastro-custom ">

        <div class="login-email-custom" id="login-email">
            <h2 class="">
                <strong>Encontre inspiração. Seja tatuado. Reserve hoje.</strong>
            </h2>

            <p>
                Acesse a sua conta
            </p>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        @*<p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>*@
                    </div>
                }
                else
                {
                    <div class="d-flex my-4">
                        <button type="button" class="btn m-0 mr-3 btn-lg btn-block btn_facebook shadow-lg">
                            <i class="ion-social-facebook"></i>
                        </button>

                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="btn btn-danger m-0 btn-lg btn-block shadow-lg p-0 btn_google">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-danger m-0 btn-lg btn-block shadow-lg " name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @*@provider.DisplayName*@
                                    <i class="ion-social-google"></i>
                                </button>
                            }
                        </form>

                        @*<button type="button" class="btn btn-lg m-0 btn-block shadow-lg bg-white"
                                onclick="mostrarOcultar('cadastro'), mostrarOcultar('login-email')">
                            <i class="fas fa-envelope"></i>
                        </button>*@
                    </div>
                }
            }

            <form id="account" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    @*<label class="label-input" asp-for="Input.Email"></label>*@
                    <div class="div-imput">
                        <span class="span-input">Email</span>
                        <input type="email" class="input-custom" placeholder="john.doe@gmail.com" autocomplete="off" required="" name="email" asp-for="Input.Email" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="label-input" asp-for="Input.Password">
                        <div class="div-imput">
                            <span class="span-input">Senha</span>
                            <input type="password" class="input-custom" placeholder="Senha" name="password" id="password" asp-for="Input.Password">

                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                            <button type="button" class="button-custom"
                                    onclick="mostrarOcultarSenha(), mostrarOcultar('olhoAberto'), mostrarOcultar('olhoFechado')">
                                <svg class="svg-custom" id="olhoFechado">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 11">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="1.5"
                                              d="M1 1c.732 1.172 1.529 2.171 2.371 3M19 1c-.732 1.172-1.529 2.172-2.37 3m0 0L19 6.601M16.63 4c-1.293 1.271-2.692 2.138-4.13 2.601M3.371 4L1 6.601M3.371 4c1.292 1.271 2.691 2.138 4.13 2.601m4.999 0l1 3.399m-1-3.399a8.039 8.039 0 01-5 0m0 0L6.5 10">
                                        </path>
                                    </svg>
                                </svg>
                                <svg class="svg-custom" id="olhoAberto" style="display: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14">
                                        <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                            <circle cx="9" cy="6" r="4" fill="currentColor" fill-rule="nonzero">
                                            </circle>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="1.5" d="M0 6c5-8 13-8 18 0M0 6c5 8 13 8 18 0"></path>
                                        </g>
                                    </svg>
                                </svg>
                            </button>
                        </div>
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn m-0 mr-3 btn-lg btn-danger shadow-lg btn-block">
                        Entrar
                    </button>
                </div>
            </form>

            <div class="div-cadastrese my-2">
                <span font-weight="400" tag="span" color="dark" weight="" class="span-cadastrese">
                    Não tem uma conta?
                </span>
                <a asp-area="Identity" asp-page="/Account/Register" class="a-cadastrese">
                    Cadastre-se
                </a>
            </div>

            <hr />

            <p class="termos-politica">
                Ao se inscrever, você concorda com nossos Termos de Uso e reconhece nossa Política de Privacidade.
            </p>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}