@*ESTA É UMA RAZOR PAGE!*@
@*ELA NÃO TEM CONTROLLER!*@
@page
@model RegisterModel

@{
    ViewData["Title"] = "Nova Conta";
    Layout = "/Views/Shared/_LayoutLimpo.cshtml";
}


<link href="~/assets/css/login.css" rel="stylesheet">
<link href="~/assets/css/loginsocial.css" rel="stylesheet">

<div class="d-flex justify-content-center p-3 fixed">

    <div class="fotos-custom">
        <div class="CK_MDEm">
            <div class="_1MCzTkC">
                <div class="lyteZFl">
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/20.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/3.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/6.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/43.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/29.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/70.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/20.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/3.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/6.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/43.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/29.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/70.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                </div>
                <div class="lyteZFl">
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/4.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/64.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/49.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/60.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/51.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/37.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/4.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/64.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/49.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/60.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/51.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/37.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                </div>
                <div class="lyteZFl">
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/17.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/23.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/68.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/31.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/48.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/1.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 133%;">
                        <img src="https://tattoodo-web.imgix.net/misc/17.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 150%;">
                        <img src="https://tattoodo-web.imgix.net/misc/23.png?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 166%;">
                        <img src="https://tattoodo-web.imgix.net/misc/68.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 75%;">
                        <img src="https://tattoodo-web.imgix.net/misc/31.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/48.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                    <div class="yBhd7Eq" style="padding-top: 100%;">
                        <img src="https://tattoodo-web.imgix.net/misc/1.jpg?auto=format,compress&amp;h=350"
                             alt="decoration" loading="lazy" class="_1SYXywH _16yAdXb">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cadastro-custom cadastro-custom-scroll">

        <div id="cadastro" class="login-email-custom cadastro-custom-div">

            <h2 class="mr-5">
                <strong>Inscrever-se</strong>
            </h2>

            <p>
                Crie a sua conta. É grátis!
            </p>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        @*<p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>*@
                    </div>
                }
                else
                {
                    <div class="d-flex my-4">
                        <button type="button" class="btn m-0 mr-3 btn-lg btn-block btn_facebook shadow-lg">
                            <i class="ion-social-facebook"></i>
                        </button>

                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="btn btn-danger m-0 btn-lg btn-block shadow-lg p-0 btn_google">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-danger m-0 btn-lg btn-block shadow-lg " name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @*@provider.DisplayName*@
                                    <i class="ion-social-google"></i>
                                </button>
                            }
                        </form>
                    </div>
                }
            }

            <form asp-route-returnUrl="@Model.ReturnUrl" id="account" method="post">

                <h4 class="text-white">Criar uma nova conta.</h4>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    @*<label class="label-input" asp-for="Input.Email"></label>*@
                    <div class="div-imput">
                        <span class="span-input">Email</span>
                        <input asp-for="Input.Email" type="email" class="input-custom" placeholder="john.doe@gmail.com" autocomplete="off" required="" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="label-input" asp-for="Input.Password">
                        <div class="div-imput">
                            <span class="span-input">Senha</span>
                            <input asp-for="Input.Password" type="password" class="input-custom" placeholder="Senha" id="password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                            <button type="button" class="button-custom"
                                    onclick="mostrarOcultarSenha(), mostrarOcultar('olhoAberto'), mostrarOcultar('olhoFechado')">
                                <svg class="svg-custom" id="olhoFechado">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 11">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="1.5"
                                              d="M1 1c.732 1.172 1.529 2.171 2.371 3M19 1c-.732 1.172-1.529 2.172-2.37 3m0 0L19 6.601M16.63 4c-1.293 1.271-2.692 2.138-4.13 2.601M3.371 4L1 6.601M3.371 4c1.292 1.271 2.691 2.138 4.13 2.601m4.999 0l1 3.399m-1-3.399a8.039 8.039 0 01-5 0m0 0L6.5 10">
                                        </path>
                                    </svg>
                                </svg>
                                <svg class="svg-custom" id="olhoAberto" style="display: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14">
                                        <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                            <circle cx="9" cy="6" r="4" fill="currentColor" fill-rule="nonzero">
                                            </circle>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="1.5" d="M0 6c5-8 13-8 18 0M0 6c5 8 13 8 18 0"></path>
                                        </g>
                                    </svg>
                                </svg>
                            </button>
                        </div>
                    </label>
                </div>

                <div class="form-group">
                    <label class="label-input">
                        <div class="div-imput">
                            <span class="span-input">Repita a Senha</span>
                            @*<label asp-for="Input.ConfirmPassword"></label>*@
                            <input asp-for="Input.ConfirmPassword" type="password" class="input-custom" placeholder="Repita a Senha" id="password2">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            <div class="">

                            </div>
                            <button type="button" class="button-custom"
                                    onclick="mostrarOcultarSenhaConfirmed(), mostrarOcultar('olhoAberto2'), mostrarOcultar('olhoFechado2')">
                                <svg class="svg-custom" id="olhoFechado2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 11">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="1.5"
                                              d="M1 1c.732 1.172 1.529 2.171 2.371 3M19 1c-.732 1.172-1.529 2.172-2.37 3m0 0L19 6.601M16.63 4c-1.293 1.271-2.692 2.138-4.13 2.601M3.371 4L1 6.601M3.371 4c1.292 1.271 2.691 2.138 4.13 2.601m4.999 0l1 3.399m-1-3.399a8.039 8.039 0 01-5 0m0 0L6.5 10">
                                        </path>
                                    </svg>
                                </svg>
                                <svg class="svg-custom" id="olhoAberto2" style="display: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14">
                                        <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                            <circle cx="9" cy="6" r="4" fill="currentColor" fill-rule="nonzero">
                                            </circle>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="1.5" d="M0 6c5-8 13-8 18 0M0 6c5 8 13 8 18 0"></path>
                                        </g>
                                    </svg>
                                </svg>
                            </button>
                        </div>
                    </label>
                </div>


                <h1 class="titulo_h1 mt-4">Cadastrar-se como:</h1>

                <div class="div_usuarios my-2">

                    <label for="userOption" class="label_cliente">

                        <input required="" class="input_usuarios" id="userOption" name="businessOptions"
                               type="radio" value="Cliente" checked onclick="consultarDados.SetTipoUsuario('Cliente')">

                        <div class="div_icone">
                            <svg class="svg_icone">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 60">
                                    <path fill-rule="evenodd"
                                          d="M41.781 49.156h-.077.307c-.076.076-.153 0-.23 0zm0 0h-.077.307c-.076.076-.153 0-.23 0zm6.14-8.38c2.303-3.047 2.073-7.77 2.073-7.77l-.077-3.047s-.077-10.133-.077-15.465c0-2.895-2.916-7.314-6.217-9.447-1.381-.914-2.916-1.6-4.451-2.133-.614-.228-1.228-.38-1.92-.533.078-.076.078-.228.078-.305.076-.99-1.228-1.904-2.84-2.057-1.612-.152-2.993.61-3.07 1.6-2.994 0-6.064.61-8.75 1.829-6.14 2.742-8.98 6.551-9.133 12.417v1.448c0 1.37 0 3.047-.384 4.342-.69 2.361-2.38 3.428-3.3 3.504-.384 0-.921-.152-1.459-.38h-.076c-.154-.077-.384-.153-.538-.23-.383-.228-.767-.38-1.074-.533-2.993-.99-5.296.381-6.217 2.21-.921 1.828-.69 4.647 1.996 6.475 1.918 1.295 4.22 1.828 6.37 1.828.537 0 1.074 0 1.535-.076.153 1.676.537 4.419 2.072 6.4-.537.609-.998 1.6-1.228 2.818-.384 1.905.154 3.962 1.382 5.485 1.228 1.448 2.993 2.286 4.989 2.438v3.276c0 1.6 1.074 3.504 3.377 4.037 1.304.305 2.456.305 3.223.229 1.996.838 3.838 1.066 5.987.685.69.153 1.381.153 1.995.153 1.382 0 2.61-.305 3.991-.838.768.076 1.92.076 3.224-.229 2.302-.533 3.377-2.438 3.377-4.037v-3.276c1.919-.152 3.607-.99 4.835-2.438 1.228-1.523 1.766-3.504 1.382-5.485a5.346 5.346 0 0 0-1.075-2.895zM42.395 6.952c2.61 1.676 5.143 5.409 5.143 7.542 0 4.8.076 11.96.076 14.703-1.228-.076-3.454-.534-6.293-1.905 1.228-5.332 1.995-12.95-.538-21.33.538.38 1.075.685 1.612.99zm-26.556 8.99c.154-4.952 2.456-8 7.675-10.361 4.375-1.905 9.748-2.133 14.353-.686 2.993 8.228 2.456 15.922 1.228 21.33-.307-.152-.537-.304-.844-.456-5.296-2.971-11.897-6.628-21.414-6.628h-.998v-3.2zm-.384 6.322c.077-.304.154-.61.23-.838h1.382c8.903 0 14.967 3.352 20.263 6.323.307.153.614.381.92.534-1.765 2.056-5.372 5.865-11.205 5.332-7.291-.61-12.818-4.114-15.81-6.475 1.61-.61 3.376-2.21 4.22-4.876zm-4.067 9.6h-.231c-2.225.456-5.065.38-7.368-1.22-1.535-1.066-1.765-2.514-1.228-3.504.46-.914 1.612-1.676 3.377-1.067l1.228.61c.691.685 2.763 2.666 5.987 4.57-.46.305-1.075.458-1.765.61zm34.154 8.074c-.23.229-.384.534-.384.762 0 .305.077.61.307.838l.384.38c.23.153.768.915.998 2.058.307 1.523-.307 2.819-.921 3.58-.921 1.143-2.38 1.676-3.915 1.6h-.307c-.69-.076-1.381-.228-1.995-.533-.614-.229-1.228 0-1.535.61-.23.609 0 1.218.614 1.523.614.228 1.228.457 1.842.61v3.428c0 .076 0 1.447-1.535 1.828-.69.152-1.305.228-1.689.228v-4.647c0-.61-.537-1.142-1.15-1.142-.615 0-1.152.533-1.152 1.142v4.952c-1.075.381-2.15.61-3.607.457v-5.409c0-.61-.538-1.142-1.152-1.142-.614 0-1.151.533-1.151 1.142v5.41c-1.458.152-2.533-.077-3.607-.458v-4.952c0-.61-.538-1.142-1.152-1.142-.614 0-1.15.533-1.15 1.142v4.647c-.461 0-.999-.076-1.69-.228-1.534-.381-1.534-1.752-1.534-1.828v-3.505c.614-.152 1.15-.305 1.688-.533.614-.229.844-.914.614-1.524-.23-.61-.92-.838-1.535-.61-.614.306-1.305.458-1.919.534h-.23c-1.612.076-3.147-.457-4.068-1.6-.614-.761-1.151-2.133-.92-3.58.23-1.143.767-1.905.997-2.057l.384-.381c.23-.229.307-.533.307-.838 0-.305-.154-.61-.384-.762-1.612-1.447-2.072-4.418-2.15-6.094a12.206 12.206 0 0 0 2.84-1.22c3.07 1.524 6.832 2.896 11.206 3.277.46.076.845.076 1.305.076 6.6 0 10.592-4.647 12.204-6.628 3.453 1.676 6.063 2.057 7.445 2.133v1.524c-.077 1.295-.384 5.18-2.303 6.932zm-12.664-19.73c-.46 0-.921-.305-1.074-.762l-1.689-4.495-2.84 1.295c-.307.152-.69.152-.92 0-.308-.152-.538-.38-.615-.762l-1.995-6.856a1.205 1.205 0 0 1 .767-1.448 1.218 1.218 0 0 1 1.458.762l1.612 5.638 2.687-1.22a.985.985 0 0 1 .92 0c.308.153.538.382.615.686l2.149 5.638c.23.61-.077 1.219-.691 1.447-.154.076-.307.076-.384.076zm-2.61 21.101c1.382 0 2.533 3.81 2.533 5.18 0 1.372-1.151 2.515-2.532 2.515-1.382 0-2.533-1.143-2.533-2.514 0-1.448 1.151-5.18 2.533-5.18zm7.906-5.18c2.38 0 4.298 1.905 4.298 4.266 0 2.362-1.919 4.266-4.298 4.266-2.38 0-4.298-1.904-4.298-4.266 0-2.361 1.919-4.266 4.298-4.266zm-15.81 0c2.378 0 4.297 1.905 4.297 4.266 0 2.362-1.919 4.266-4.298 4.266-2.38 0-4.298-1.904-4.298-4.266-.077-2.361 1.919-4.266 4.298-4.266z">
                                    </path>
                                </svg>
                            </svg>
                        </div>
                        <div class="div_descricao">
                            <h2 class="div_h2_descricao">Usuário</h2>
                            <p class="div_p_descricao">
                                Junte-se para buscar suas tatuagens, estudios e artistas.
                            </p>
                        </div>
                        <div class="div_radio">
                            <span class="span_radio">
                                <svg class="svg_icone">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15">
                                        <path fill-rule="evenodd"
                                              d="M18.226.012a1.58 1.58 0 00-.936.477L6.726 11.052 2.569 7.734a1.583 1.583 0 00-2.224.24 1.581 1.581 0 00.253 2.224l5.257 4.206a1.577 1.577 0 002.103-.132L19.524 2.707A1.578 1.578 0 0018.226.012z">
                                        </path>
                                    </svg>
                                </svg>
                            </span>
                        </div>
                    </label>

                    <hr class="hr_custom">

                    <label for="artistOption" class="label_cliente">
                        <input required="" class="input_usuarios" id="artistOption" name="businessOptions"
                               type="radio" value="Tatuador" onclick="consultarDados.SetTipoUsuario('Tatuador')">

                        <div class="div_icone">
                            <svg class="svg_icone">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 60">
                                    <path fill-rule="evenodd"
                                          d="M41.781 49.156h-.077.307c-.076.076-.153 0-.23 0zm0 0h-.077.307c-.076.076-.153 0-.23 0zm6.14-8.38c2.303-3.047 2.073-7.77 2.073-7.77l-.077-3.047s-.077-10.133-.077-15.465c0-2.895-2.916-7.314-6.217-9.447-1.381-.914-2.916-1.6-4.451-2.133-.614-.228-1.228-.38-1.92-.533.078-.076.078-.228.078-.305.076-.99-1.228-1.904-2.84-2.057-1.612-.152-2.993.61-3.07 1.6-2.994 0-6.064.61-8.75 1.829-6.14 2.742-8.98 6.551-9.133 12.417v1.448c0 1.37 0 3.047-.384 4.342-.69 2.361-2.38 3.428-3.3 3.504-.384 0-.921-.152-1.459-.38h-.076c-.154-.077-.384-.153-.538-.23-.383-.228-.767-.38-1.074-.533-2.993-.99-5.296.381-6.217 2.21-.921 1.828-.69 4.647 1.996 6.475 1.918 1.295 4.22 1.828 6.37 1.828.537 0 1.074 0 1.535-.076.153 1.676.537 4.419 2.072 6.4-.537.609-.998 1.6-1.228 2.818-.384 1.905.154 3.962 1.382 5.485 1.228 1.448 2.993 2.286 4.989 2.438v3.276c0 1.6 1.074 3.504 3.377 4.037 1.304.305 2.456.305 3.223.229 1.996.838 3.838 1.066 5.987.685.69.153 1.381.153 1.995.153 1.382 0 2.61-.305 3.991-.838.768.076 1.92.076 3.224-.229 2.302-.533 3.377-2.438 3.377-4.037v-3.276c1.919-.152 3.607-.99 4.835-2.438 1.228-1.523 1.766-3.504 1.382-5.485a5.346 5.346 0 0 0-1.075-2.895zM42.395 6.952c2.61 1.676 5.143 5.409 5.143 7.542 0 4.8.076 11.96.076 14.703-1.228-.076-3.454-.534-6.293-1.905 1.228-5.332 1.995-12.95-.538-21.33.538.38 1.075.685 1.612.99zm-26.556 8.99c.154-4.952 2.456-8 7.675-10.361 4.375-1.905 9.748-2.133 14.353-.686 2.993 8.228 2.456 15.922 1.228 21.33-.307-.152-.537-.304-.844-.456-5.296-2.971-11.897-6.628-21.414-6.628h-.998v-3.2zm-.384 6.322c.077-.304.154-.61.23-.838h1.382c8.903 0 14.967 3.352 20.263 6.323.307.153.614.381.92.534-1.765 2.056-5.372 5.865-11.205 5.332-7.291-.61-12.818-4.114-15.81-6.475 1.61-.61 3.376-2.21 4.22-4.876zm-4.067 9.6h-.231c-2.225.456-5.065.38-7.368-1.22-1.535-1.066-1.765-2.514-1.228-3.504.46-.914 1.612-1.676 3.377-1.067l1.228.61c.691.685 2.763 2.666 5.987 4.57-.46.305-1.075.458-1.765.61zm34.154 8.074c-.23.229-.384.534-.384.762 0 .305.077.61.307.838l.384.38c.23.153.768.915.998 2.058.307 1.523-.307 2.819-.921 3.58-.921 1.143-2.38 1.676-3.915 1.6h-.307c-.69-.076-1.381-.228-1.995-.533-.614-.229-1.228 0-1.535.61-.23.609 0 1.218.614 1.523.614.228 1.228.457 1.842.61v3.428c0 .076 0 1.447-1.535 1.828-.69.152-1.305.228-1.689.228v-4.647c0-.61-.537-1.142-1.15-1.142-.615 0-1.152.533-1.152 1.142v4.952c-1.075.381-2.15.61-3.607.457v-5.409c0-.61-.538-1.142-1.152-1.142-.614 0-1.151.533-1.151 1.142v5.41c-1.458.152-2.533-.077-3.607-.458v-4.952c0-.61-.538-1.142-1.152-1.142-.614 0-1.15.533-1.15 1.142v4.647c-.461 0-.999-.076-1.69-.228-1.534-.381-1.534-1.752-1.534-1.828v-3.505c.614-.152 1.15-.305 1.688-.533.614-.229.844-.914.614-1.524-.23-.61-.92-.838-1.535-.61-.614.306-1.305.458-1.919.534h-.23c-1.612.076-3.147-.457-4.068-1.6-.614-.761-1.151-2.133-.92-3.58.23-1.143.767-1.905.997-2.057l.384-.381c.23-.229.307-.533.307-.838 0-.305-.154-.61-.384-.762-1.612-1.447-2.072-4.418-2.15-6.094a12.206 12.206 0 0 0 2.84-1.22c3.07 1.524 6.832 2.896 11.206 3.277.46.076.845.076 1.305.076 6.6 0 10.592-4.647 12.204-6.628 3.453 1.676 6.063 2.057 7.445 2.133v1.524c-.077 1.295-.384 5.18-2.303 6.932zm-12.664-19.73c-.46 0-.921-.305-1.074-.762l-1.689-4.495-2.84 1.295c-.307.152-.69.152-.92 0-.308-.152-.538-.38-.615-.762l-1.995-6.856a1.205 1.205 0 0 1 .767-1.448 1.218 1.218 0 0 1 1.458.762l1.612 5.638 2.687-1.22a.985.985 0 0 1 .92 0c.308.153.538.382.615.686l2.149 5.638c.23.61-.077 1.219-.691 1.447-.154.076-.307.076-.384.076zm-2.61 21.101c1.382 0 2.533 3.81 2.533 5.18 0 1.372-1.151 2.515-2.532 2.515-1.382 0-2.533-1.143-2.533-2.514 0-1.448 1.151-5.18 2.533-5.18zm7.906-5.18c2.38 0 4.298 1.905 4.298 4.266 0 2.362-1.919 4.266-4.298 4.266-2.38 0-4.298-1.904-4.298-4.266 0-2.361 1.919-4.266 4.298-4.266zm-15.81 0c2.378 0 4.297 1.905 4.297 4.266 0 2.362-1.919 4.266-4.298 4.266-2.38 0-4.298-1.904-4.298-4.266-.077-2.361 1.919-4.266 4.298-4.266z">
                                    </path>
                                </svg>
                            </svg>
                        </div>
                        <div class="div_descricao">
                            <h2 class="div_h2_descricao">Tatuador</h2>
                            <p class="div_p_descricao">
                                Junte-se como um artista individual para conectar-se com clientes e expandir
                                seus negócios.
                            </p>
                        </div>
                        <div class="div_radio">
                            <span class="span_radio">
                                <svg class="svg_icone">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15">
                                        <path fill-rule="evenodd"
                                              d="M18.226.012a1.58 1.58 0 00-.936.477L6.726 11.052 2.569 7.734a1.583 1.583 0 00-2.224.24 1.581 1.581 0 00.253 2.224l5.257 4.206a1.577 1.577 0 002.103-.132L19.524 2.707A1.578 1.578 0 0018.226.012z">
                                        </path>
                                    </svg>
                                </svg>
                            </span>
                        </div>
                    </label>

                    <hr class="hr_custom">

                    <label for="studioOption" class="label_cliente">
                        <input required="" class="input_usuarios" id="studioOption" name="businessOptions"
                               type="radio" value="Estudio" onclick="consultarDados.SetTipoUsuario('Estudio')" />

                        <div class="div_icone">
                            <svg class="svg_icone">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 33">
                                    <g fill="none">
                                        <path stroke="currentColor"
                                              d="M23.993 17.404a.297.297 0 00-.38.048 6.189 6.189 0 01-4.089 2.056 5.852 5.852 0 01-4.12-1.284.296.296 0 00-.368 0 5.759 5.759 0 01-4.114 1.284 6.2 6.2 0 01-4.105-2.06.296.296 0 00-.378-.051 4.635 4.635 0 01-2.763.764.297.297 0 00-.306.294V29.8c0 .982.796 1.777 1.778 1.777h20.148c.982 0 1.778-.795 1.778-1.777V18.47a.297.297 0 00-.314-.297 4.552 4.552 0 01-2.767-.77zm-5.215 5.123a.453.453 0 01.474-.427h3.792c.25-.013.461.179.475.427v6.264a.593.593 0 01-.593.593H19.37a.593.593 0 01-.592-.593v-6.264zm-11.26-.033a.422.422 0 01.445-.394h6.217a.422.422 0 01.445.394v3.952a.422.422 0 01-.445.394H7.96a.422.422 0 01-.444-.394l.003-3.952zM26.824 5.803h-3.737a.299.299 0 00-.237.119.294.294 0 00-.04.266l1.846 5.557a.91.91 0 01.048.28v3.545a.297.297 0 00.124.247c.764.6 1.791.746 2.692.381a3.22 3.22 0 001.924-2.91v-1.122a.325.325 0 00-.019-.105l-2.232-5.858c-.1-.26-.265-.4-.369-.4z">
                                        </path>
                                        <path stroke="currentColor"
                                              d="M22.869 15.508a.293.293 0 00.055-.171v-3.12a.278.278 0 00-.016-.093l-2.04-6.113a.296.296 0 00-.28-.203h-4.18a.298.298 0 00-.297.296v10.247a3.625 3.625 0 003.276 1.39 4.697 4.697 0 003.482-2.233zm-8.536.839V6.1a.296.296 0 00-.296-.297H9.852a.296.296 0 00-.28.203l-2.04 6.118a.278.278 0 00-.016.093v3.113a.3.3 0 00.053.17 4.686 4.686 0 003.505 2.237 3.59 3.59 0 003.26-1.39zm-8.593-.766v-3.556a.91.91 0 01.046-.28l1.851-5.552a.294.294 0 00-.04-.266.296.296 0 00-.237-.119H3.62c-.104 0-.269.14-.367.4L1.021 12.06a.325.325 0 00-.021.105v1.122a3.21 3.21 0 001.924 2.902 2.357 2.357 0 002.817-.609z">
                                        </path>
                                        <path fill="currentColor"
                                              d="M6.42 3.433V.87h.928V.093H4.51V.87h.928v2.563h.982zm3.222 0h1.074L9.628.093H8.397l-1.088 3.34h.967l.178-.664h1.017l.17.664zM8.947.912h.047l.305 1.164H8.63L8.947.912zm3.64 2.52V.87h.928V.093h-2.838V.87h.928v2.563h.981zm3.16 0V.87h.928V.093h-2.838V.87h.928v2.563h.981zM18.595 0c-1.02 0-1.683.671-1.683 1.762 0 1.094.657 1.763 1.683 1.763 1.02 0 1.68-.669 1.68-1.763 0-1.09-.66-1.762-1.68-1.762zm0 .8c.403 0 .68.376.68.962 0 .588-.277.963-.68.963-.405 0-.683-.375-.683-.963 0-.586.278-.961.683-.961zM22.3 0c-1.021 0-1.683.671-1.683 1.762 0 1.094.657 1.763 1.683 1.763 1.02 0 1.68-.669 1.68-1.763C23.98.672 23.32 0 22.3 0zm0 .8c.402 0 .68.376.68.962 0 .588-.278.963-.68.963-.405 0-.683-.375-.683-.963 0-.586.278-.961.683-.961zm2.046 1.658h.93c.012.209.225.343.54.343.275 0 .458-.123.458-.31 0-.155-.125-.23-.483-.294l-.443-.079c-.613-.106-.946-.458-.946-.998 0-.68.539-1.12 1.375-1.12.824 0 1.386.435 1.393 1.076h-.898c-.007-.201-.213-.354-.475-.354-.254 0-.42.116-.42.301 0 .16.136.252.455.308l.456.079c.65.113.952.421.952.963 0 .722-.547 1.152-1.459 1.152-.886 0-1.43-.405-1.435-1.067z">
                                        </path>
                                    </g>
                                </svg>
                            </svg>
                        </div>
                        <div class="div_descricao">
                            <h2 class="div_h2_descricao">Estudio</h2>
                            <p class="div_p_descricao">
                                Entre como estúdio para vincular várias contas de artistas e
                                expandir seus negócios.
                            </p>
                        </div>
                        <div class="div_radio">
                            <span class="span_radio">
                                <svg class="svg_icone">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15">
                                        <path fill-rule="evenodd"
                                              d="M18.226.012a1.58 1.58 0 00-.936.477L6.726 11.052 2.569 7.734a1.583 1.583 0 00-2.224.24 1.581 1.581 0 00.253 2.224l5.257 4.206a1.577 1.577 0 002.103-.132L19.524 2.707A1.578 1.578 0 0018.226.012z">
                                        </path>
                                    </svg>
                                </svg>
                            </span>
                        </div>
                    </label>

                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn m-0 mr-3 btn-lg btn-danger shadow-lg btn-block">
                        Inscrever-se
                    </button>
                </div>

            </form>

            <div class="div-cadastrese my-2">
                <span font-weight="400" tag="span" color="dark" weight="" class="span-cadastrese">
                    Já tem uma conta?
                </span>
                <a asp-area="Identity" asp-page="/Account/Login" class="a-cadastrese">
                    Entrar
                </a>
            </div>

            <hr />

            <p class="termos-politica">
                Ao se inscrever, você concorda com nossos Termos de Uso e reconhece nossa Política de Privacidade.
            </p>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/tatto.js"></script>

    <script>
        jQuery(function ($) {
            consultarDados.SetTipoUsuario('Cliente');
        });

    </script>
}