@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "/Pages/Shared/_LayoutCliente.cshtml";
}

<link href="~/assets/css/index.css" rel="stylesheet">

<div id="carouselExampleControls" class=" carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="home" class="intro route bg-image" style="background-image: url(../assets/img/fazendo-tatuagem.jpg)">
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <!--<p class="display-6 color-d">Hello, world!</p>-->
                            <h1 class="intro-title mb-4">Encontre um Estúdio Proximo a você</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div id="home" class="intro route bg-image" style="background-image: url(../assets/img/portal_tatuagem.png)">
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <!--<p class="display-6 color-d">Hello, world!</p>-->
                            <h1 class="intro-title mb-4">Encontre um Estúdio Proximo a você</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*<div class="container text-center mt-5">
        <h3>Nosso site..................</h3>
        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, hic corrupti. Non magni laborum incidunt id quam ratione temporibus impedit ipsum omnis officiis iste, dolor earum optio. Ut, soluta eaque?</h5>
    </div>*@

<br />
<br />
