@using Microsoft.AspNetCore.Identity
@using Tatto.Areas.Identity.Data

@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">@*<i class="far fa-user mr-1"></i>*@Minha conta </a>
            <div class="dropdown-menu m-0 p-0">
                <a class="dropdown-item" id="manage" asp-area="Identity"
                   asp-page="/Account/Manage/Index" title="Manage"
                   style="display: flex; cursor: pointer; text-decoration: none;">
                    <div style="display: flex; flex-direction: column; -webkit-box-pack: center; justify-content: center; -webkit-box-flex: 1; flex-grow: 1; margin-left: 16px; margin-right: 16px; padding: 5px 0px;">
                        <span tag="span" weight="regular" font-weight="400">
                            @UserManager.GetUserName(User)
                        </span>
                        <span tag="span" color="dark" weight="regular" font-weight="400"
                              style="font-size: 12px; color: #fa8e00;">
                            Minha conta
                        </span>
                    </div>
                    <div style="display: flex; flex-direction: column; -webkit-box-pack: center; justify-content: center;">
                        <svg class="" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#a4a4a4"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="9 6 15 12 9 18"></polyline>
                        </svg>
                    </div>
                </a>
                <div class="dropdown-divider py-0 m-0 mx-3"></div>

                <a class="dropdown-item py-3 m-0" href="#">Notificações</a>

                <a class="dropdown-item py-3 m-0" asp-controller="Agenda" asp-action="AgendaUsuario">Sessões de Tatuagem</a>

                <a class="dropdown-item py-3 m-0" asp-controller="Cliente" asp-action="CadastroUsuario">Meu Cadastro</a>

                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("Index", "Home" , new { area="" })">
                    <button id="logout" type="submit" class="dropdown-item py-3 m-0">Sair</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="custom-li">
            <a class="nav-link js-scroll btn btn-light p-2 btn-custom-nav" id="login" asp-area="Identity"
               asp-page="/Account/Login">Entrar</a>
        </li>
    }
</ul>